body {padding-top: 45px;}
a:hover {cursor: pointer;}
.padded {padding-top: 30px;}
.center {text-align: center !important}

/* tickets list */
.nav.nav-stacked li.open {
	border-left: 3px solid #dd4b39;
	color: #333;
	font-weight: bold;
}

.nav.nav-stacked li.open small {
	font-weight: normal;
}

/* fixes */
/* correct alignment of icons in dropdowns */
.nav [class^="icon-"] {
	margin-top: -1px;
}

/* not enough space in button icons */
[class^="icon-"] {
	margin: 6px 6px 0 0;
}

/* dropdowns have incorrect top and bottom padding */
.dropdown-menu {
	padding: 8px 0;
}